/NKnights.class
/NQueens.class
/NQueens2.class
/Queen1dCombination.class
/Queen1dCombinationBoxRespect.class
/Queen1dPermuation.class
/QueenCombination2D.class
/QueenCombinations2DKill.class
/coinChangeCoinRespect.class
